     <div class="inner-fb">

        <div>
            <img class="fb_profile_pic" src="/assets/images/fb/dance-workshop-for-children.jpg" width="38" height="38" alt="facebook profile picture"/>
        </div>

        <div class="fb_info">
            <div class="fb_name">Jan Holland </div>
            <div class="fb_small">14th September 2016</div>	
        </div>

        <i class="icon-fb fb_logo"></i>

        <span class="fb_review_text">Congratulations to the Creative Moves team and Dryandra PS. Such a natural blend of Maths and creative movement for our children.</span>

        <div class="fb_btm_nav">
            <span class="fb_blue">
                <i class="icon-fb-like">&nbsp;</i>3
            </span>
            <i class="icon-fb-comment">&nbsp;</i>Comment
            <i class="icon-fb-share">&nbsp;</i>Share
        </div>

</div>