<section class="panel_text">
            <p>Did you know that...?</p>
            <p>Creative Moves are the only dance school in Perth that offer fun and rewarding dance workshops and kids dance classes for schools, that directly address the Western Australian Arts Curriculum. </p>	
            <p>Creative Moves offer an alternative approach to delivering maths and literacy outcomes, subjects that can sometimes be percieved as challenging or boring to students.</p>
        </section>

        <input type="checkbox" class="read-more-state" id="post-2" />

    <label for="post-2" class="read-more-trigger"></label>
        <section class="read-more-wrap">
            <p class="read-more-target">Each dance workshop integrates literacy and numeracy  concepts into meaningful and creative dance experiences. While the focus is on young people (dance for toddlers  / dance for kids ) there are also opportunities for professional development in education for educators.</p>

            <p class="read-more-target">Creative Moves' kids dance classes focus is on safe dance practices, creative movement, choreographic techniques, performance and responding to dance.</p>
            <p class="read-more-target">If you are a parent or educator and are interested in dance for educational and professional development please visit our Facebook page to see what the media are saying about our<a href="https://www.facebook.com/creativemoveswa/" target="_blank" class="anchor"> creative dance programs in schools</a> or better yet please call us on<span class="hide"><a class="tel" href="tel:1300923927" title="Please call to discuss our workshops!" rel="nofollow">1300 923 927</a></span> to find out more.</p><!--hide class is for anchors in shrunken text-->
        </section>