 <!--<div class="icon-phone icon-phone2"></div>-->
<a class="tel tel2" href="tel:1300923927" title="Call Now!" rel="nofollow">
    <span class="ph_1300_no ph_1300_no2">1300</span>
    <!--<div class="ph_txt_lg">FUN MATH</div>-->
    <span class="ph_txt_sm ph_txt_sm2">923 927</span>
</a>