/**/
/* ------- SASS ---------------------------------------------*/
/*COLOR LIST*/
.white {
  color: #eef5f6; }

.dark_grey {
  color: #AFAEB2; }

.main_color {
  color: #455052; }

.accent_color {
  color: #6ac8c8; }

.accent_color2 {
  color: #ee792c; }

/*END COLOR LIST*/
/*embedded in html*/
/*embedded in html*/
/*BACKGROUNDS
@mixin background {	background:url(/assets/images/What_is-250x270.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} Not in use*/
/*GRADIENTS */
/*BORDER RADIUS */
/* ------- END OF SASS ---------------------------------------------*/
.one_edge_shadow {
  /*Over ride bootstrap well*/
  /*Over ride bootstrap well*/
  box-shadow: 0 6px 9px -5px #00000b !important;
  /*Over ride bootstrap well*/ }

/* reset box sizes to be width plus padding plus margin */
/*reset tag*/
figure {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

/*link stying for anchor text*/
.anchor {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 #6ac8c8, inset 0 -3px 0 0 #eef5f6;
  color: darkgrey; }

/*strip link and phone number styling*/
a[href^="tel"], a.unstyled_link, a.unstyled_link:hover, a.unstyled_link:active {
  text-decoration: none;
  color: inherit; }

html, body {
  margin: 0;
  height: 100%; }

/* do not change*/
html {
  box-sizing: border-box;
  background-color: #AFAEB2; }

.container-fluid {
  margin: 0;
  /* do not change*/
  padding: 0;
  /* do not change*/
  /*font-size: $base_font_size;	/* do not change*/
  font-family: "Lato"; }

/*HEADER - HEADER*/
.header {
  background-color: darkgrey;
  background-color: black;
  border-bottom: 2px solid #ee792c; }

/* PANEL 1, 3 WELL */
.well {
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #60b7b7), color-stop(1, #6ac8c8));
  background: -webkit-linear-gradient(top, #60b7b7 5%, #6ac8c8 100%);
  background: linear-gradient(to bottom, #60b7b7 5%, #6ac8c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$accent_color_gradient', endColorstr='$accent_color ',GradientType=0);*/
  background-color: #eef5f6;
  /*background: #6ac8c8;
  background: -webkit-linear-gradient(top, #6ac8c8 0%, #60b7b7 71%, #60b7b7 86%, #60b7b7 86%, #60b7b7 90%, #ee792c 90%, #ee792c 90%, #ee792c 90%);
  background: linear-gradient(to bottom, #6ac8c8 0%, #60b7b7 71%, #60b7b7 86%, #60b7b7 86%, #60b7b7 90%, #ee792c 90%, #ee792c 90%, #ee792c 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ac8c8', endColorstr='#ee792c',GradientType=0 );
  /*over ride for bootstrap well class*/
 /* border: 5px solid #60b7b7;
border-bottom: 5px solid #ee792c !important;
   border-top: 5px solid #ee792c !important;*/
  box-shadow: 0px 0px 2px 1px #60b7b7 !important;
  background-clip: padding-box !important;
  /*over ride for bootstrap well class*/
  /*Over ride bootstrap well*/
  /*Over ride bootstrap well*/
  /*Over ride bootstrap well*/
  }

/*PANEL*/
.panel_well {
  margin: auto;
  display: block;
  text-align: center; }

.panel_title {
  color: black; }

.panel_well p {
  text-align: justify;
  color: black; }

.panel_text {
  padding-bottom: 20px; }

.in_text_image {
  width: 100%;
  height: auto;
  margin: auto;
  box-shadow: 0px 0px 2px 1px #60b7b7 !important;
  border-radius: 3px !important; }

.video_title {
  color: black; }

/*--FOOTER --*/
.copyright {
  margin-top: 40px;
  color: #F3F2F7; }

.icon-up {
  color: #6ac8c8;
  display: block; }

.back_to_top, .back_to_top:hover {
  color: #455052;
  margin: 20px 0 20px 0;
  display: block;
  box-shadow: none; }

/* zzzzzzzBOOTSTRAP COLOURS .badge and .modal zzzzzzzzzzzzzzzzzzzzzzzzzz*/
/*BADGE COLOURS*/
.badge {
  color: #ffffff;
  background-color: #777777; }

a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #337ab7;
  background-color: #ffffff; }

/*MODAL COLORS*/
.modal {
  font-family: "Lato" !important;
  color: #455052 !important; }

.modal-title {
  font-size: 1.8vw !important;
  text-shadow: 0 1px 0 #F3F2F7 !important;
  padding: 10px 0 20px 0; }

.modal-content {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #60b7b7), color-stop(1, #6ac8c8));
  background: -webkit-linear-gradient(top, #60b7b7 5%, #6ac8c8 100%);
  background: linear-gradient(to bottom, #60b7b7 5%, #6ac8c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$accent_color_gradient', endColorstr='$accent_color ',GradientType=0);
  background-color: #60b7b7;
  border: 6px solid #455052 !important;
  /*border: 6px solid rgba(0, 0, 0, 0.2)!important;*/
  /*Over ride bootstrap well*/
  /*Over ride bootstrap well*/
  /*Over ride bootstrap well*/
  border-radius: 6px !important;
  /*Over ride bootstrap well*/
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5) !important;
  background-clip: padding-box !important;
  outline: 0 !important;
  font-size: 1.4vw; }

.modal-backdrop {
  background-color: #000000 !important; }

.modal-body {
  overflow: auto; }

.modal-footer {
  border-top: 1px solid #AFAEB2 !important;
  padding: 0;
  margin: 10px; }

.modal-footer button {
  width: 100%;
  height: 100%; }

.close:hover,
.close:focus {
  color: #000000 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important; }

.close {
  color: #000000 !important;
  text-shadow: 0 1px 0 #ffffff !important;
  opacity: 0.2 !important;
  filter: alpha(opacity=20) !important; }

/* PLUGIN - TOOLTIP*/
a.tooltip span {
  font-size: 1.6vw;
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  bottom: 9999px;
  background: #455052;
  color: #eef5f6;
  padding: 0px 7px;
  line-height: 24px;
  height: 24px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  text-decoration: none;
  text-shadow: 0 0 0 #455052, 0 0 0 #455052, 0 0 0 #455052, 0 0 0 #455052;
  box-shadow: inset 0 0 0 0 #455052, inset 0 0 0 0 #455052; }

a.tooltip span::before {
  content: "";
  display: block;
  border-left: 6px solid #ee792c;
  border-top: 6px solid transparent;
  position: absolute;
  top: -4px;
  left: 0px; }

a.tooltip:hover span {
  opacity: 1;
  bottom: 95px; }

/* PLUGIN - QUOTE*/
.quote {
  font-style: italic;
  border: 1px solid #ee792c;
  border-radius: 5px;
  padding: 30px;
  color: #eef5f6; }

.reference {
  color: #455052; }

/**, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }*/
/* ^^^^^^^^^^^^^^^^^^^^^^^^^   MEDIA QUERIES ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
@media only screen and (min-width: 320px) {
  .header {
    text-align: center; }

  .slide__testomonial {
    padding: 100px 0px; }

  .well {
    border-radius: !important;
    border-radius:0 !important;}

  .panel_well {
    margin-top: 150px;
    /*Extend past header*/ }

  .panel_title {
    padding: 10px;
    font-size: 2em;
    text-align: center; }

  .panel_well p {
    padding: 0 20px 0 20px; }

  .panel_text {
    font-size: 1.2em;
    padding-bottom: 20px;
    color: white;
    margin: 10px; }

  .in_text_image {
    padding-top: 0; }

  .video_title {
    padding-top: 0;
    font-size: 1.2em;
    margin-top: 150px;
    /*Extend past header*/ }

  .video-wrapper {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    height: 0; }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

  .scroll {
    font-size: 1.2em;
    margin: 40px 0 80px 0; }

  .quote {
    font-size: 1.3em;
    margin-bottom: 80px;
    margin-top: 40px; }

  #email-section {
    padding-top: 100px; }

  .copyright {
    font-size: .8em; }

  .icon-up {
    font-size: 3em; }

  .back_to_top, .back_to_top:hover {
    font-size: 1.8em; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 425px) {
  .panel_title {
    padding-left: 20px;
    padding-right: 20px; }

  .panel_text {
    padding-left: 20px;
    padding-right: 20px; }

  .video_title {
    margin-bottom: 40px;
    margin-top: 20px; }

  .quote {
    margin-top: 80px;
    margin-bottom: 80px; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 565px) {
  .panel_title {
    padding-left: 60px;
    padding-right: 60px; }

  .panel_text {
    padding-left: 40px;
    padding-right: 40px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .header-left {
    text-align: center;
    margin-top: 17px; }

  .header-right {
    text-align: center;
    margin-top: 20px; }

  .well {
    border-radius: 5px !important; }

  .panel_well {
    margin-top: 0;
    /*Remove xtend past header 320px*/ }

  .video_title {
    font-size: 2vw; }

  .panel_well {
    padding-right: 40px; }

  .panel_title {
    padding: 40px;
    font-size: 3.2vw; }

  .panel_text {
    font-size: 2.4vw;
    padding-left: 20px;
    padding-right: 20px; }

  .in_text_image {
    margin-top: 30px; }

  .scroll {
    font-size: 2.6vw;
    margin: 40px 0 40px 0; }

  .quote {
    font-size: 2.2vw;
    margin-bottom: 80px; }

  .contact_form_title {
    font-size: 2vw;
    text-align: center; }

  #email-section {
    padding-top: 0px; }

  .icon-up {
    font-size: 6vw; }

  .back_to_top, .back_to_top:hover {
    font-size: 3vw; }

  .copyright {
    font-size: 2vw; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .panel_text {
    font-size: 1.8vw; }

  .video_title {
    font-size: 2vw; }

  .quote {
    font-size: 2vw; }

  .scroll {
    font-size: 2vw; }

  .submit {
    font-size: 2vw; }

  .copyright {
    font-size: 1.6vw; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
  .icon-up {
    font-size: 5vw; }

  .copyright {
    font-size: 1.6vw; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .panel_text {
    font-size: 1.6vw; }

  .back_to_top, .back_to_top:hover {
    font-size: 3vw; }

  .icon-up {
    font-size: 4vw; } }
