{% extends 'layout/main-layout.njk' %} 

{% block header %}

    <h1>Test</h1>

{% endblock %}


{% block content %}
<?php include_once("analyticstracking.php") ?>
<main>
    <section class="main-logo" id="top">
        <!--<img src="images/Nook-Logo-Landscape-V4-01.jpg" alt="seo checklist" class="main_logo"><!-- Replace with CSS -->
  	 <?php include 'includes/logo.php'; ?>
    </section>   
      <h1>{{checklist_json.checklist_data.section_title.subsection_title.radio_title}}</h1>
          <h1>{{checklist_json.radio_title}}</h1>
          <h1>{{checklist_json.checklist.radio_title}}</h1>
     <p>Its not jufghfghfghfghgords anymore, since 2015 the search engine has been controlled by an artificial intelligence named <a href="https://en.wikipedia.org/wiki/RankBrain" target="_blank" >RankBrain</a> that uses machine learning to decide how to rank websites.</p>
            
     <nav class="navigation">

        <?php include ('includes/navigation.php'); ?>
        
 
    </nav>
    
    <section class="services">
         <h1>{{json_data.checklist}}</h1>
       <br>
         <p>Its not just about keywords anymore, since 2015 the search engine has been controlled by an artificial intelligence named <a href="https://en.wikipedia.org/wiki/RankBrain" target="_blank" >RankBrain</a> that uses machine learning to decide how to rank websites.</p>
            
        <div class="content-box">
            <h2 class="company-mission">Company Mission:</h2>
            <p><small>Provide customer leads (phone calls / emails) to business by improving websites and providing targeted content to develop a strong basis for competitive ranking in Google search engine (SERP)</small></p>
        </div>
        
        <div>
        <h3 class="list-heading">Our Method</h3>
        <ol>
            <li>Optimise website code for high performance (HTML, CSS, Javascript).</li>
            <li>Write targeted content to connect your site to what your customers are searching for in Google (research based targeted marketing).</li>
            <li>Conduct Search Engine Optimisation (SEO) to increase the number of visits to the site, prolong time spent on page (bounce rate) and build page authority.</li>
            <li>Increase phone and email inquiries by ranking highly for relevant key words and phrases in the Google Search Engine by writing relevant, engaging content.</li>
        </ol>
        </div>
        <br>
   
        <div class="site-details">
            <h3>www.example-site.com.au</h3>
            
            <p class="bold_text">Summary:</p>
            <p> Nook Digital Marketing will analyse your website for code optimisation and content targeting based on our comprehensive <a href="http://nook-digital.marketing/seo-checklist.php">SEO checklist.</a></p>
            
            <p>The checklist will provide you with section and overall site summaries as well as an overall  site score for easy reference.</p>
            
            <p>We look at the technical aspects of the site from the files on the server and where its hosted, to the code (HTML, CSS, Javascript) to the size of the images (among other things).</p>
            
            <p>Targeted content writing is conducting research into the number of searches on google for more specific words and phrases relating to your service as well as using it to create meaningful content on your website.</p>
                
           
            <p>See how well targeted is to your potential customers searching online and how well you rank in Googles search engine for those words and phrases.</p>
            
            <p>Each task on the checklist is 1 point and is not weighted, regardless of it's impact to SEO. </p>
            
            <p>The goal is to achieve all the points.</p>
            
            <p>Please contact us today.</p>
            
            <h4>Your sites score: 00 / 82</h4>
            <br>
            <h4>Google Page Speed Results:</h4> 
            <p class="page-speed"><a href=""  target="_blank">Desktop score: 00 / 100 </a>&nbsp;&nbsp;<a href=""  target="_blank">Mobile score: 00 / 100</a></p>
            <span id="email-form"></span>
         
       
        <h3>Website Analysis: Optimisation &amp; Targeted Marketing Checklist</h3>
         <br>
            
        <h3  class="price"> FREE  <small>(for a limited time only)</small></h3>
         </div>
              
    </section>
    
    <section class="email-form">
         <?php include 'includes/form.php'; ?>
    </section>
    
    <section class="services" id="website-optimisation">
  <div class="content-box">
        <h2 class="bold_text">Website Usability and Optimisation Service</h2>
        <br>
        
        <p><small>Rectify the issues identified in the initial website checklist analysis.</small></p>
            <p class="bold_text score">Your sites usability and optimisation score: 00 / 40</p>
        </div>
      
        <h3 class="list-heading">The Service</h3>
        <ul>
            <li>Fix any identified display issues in all browsers and on all screen sizes.</li>
            
            <li>Add the required optimisation files to the server.</li>

            <li>Add missing meta tags to the HTML.</li>

            <li>Optimise the HTML to rectify identified issues, validate and compress.</li>

            <li>Optimise the CSS to rectify identified issues, validate and compress.</li>

            <li>Optimise the Javascript to rectify identified issues and compress.</li>

            <li>Optimise and resize media files for web use (photos and videos).</li>
            
        </ul>
        <br>
        <h3>Get a competitive advantage:</h3>
        <h3  class="price">$550.00 for two pages <small>+ $175.00 per additional page (inc GST)</small></h3>
    </section>
    
    <section class="phone-number">
        <div>
        <h4 class="form-text">Would you like to know more? Call <a class="tel" href="tel:1300923927" title="Call Today" rel="nofollow"><span class="white ">1300&nbsp;923&nbsp;927</span></a> or get in touch by <a href="#email-form" class="email-button">email</a></h4>
        </div>
        
        <div class="top-nav">
            <a class="nav" href="#top"></a>
            
			<a class="back_to_top nav" href="#top">Back to top</a> 
        </div>
        
    </section>
    
    <section class="services" id="website-targeting">
   <div class="content-box">
        <h2 class="bold_text">Targeted Content Writing Service</h2>
        <br>
        <p><small>Conduct extensive research to determine a keyword and phrase that is targeted to your niche, has proven organic Google searches in your area and low competition.</small></p>
       <p class="bold_text score">Your Sites Targeting Score: 00 / 40</p>
    </div>
        
        <h3 class="list-heading">The Process</h3>
        <ul>
            <li>Source a targeted domain name for the site (if required).</li>
            
            <li>Create targeted copy for your website by appropriately incorporating the keyword / phrase. No spelling or grammar errors.</li>
            
            <li>Edit the site meta tags to correspond with the targeted keyword / phrase.</li>

            <li>Alter or create targeted anchors (links) in your copy (text). Includes sourcing at least one relevant back link.</li>

            <li>Alter heading tags to target the keyword / phrase.</li>

            <li>Create and target accessibility features (alt tags / aria labelled by).</li>

            <li>Ensure the appropriate use of videos and photos on the targeted page.</li>

        </ul>
        <br>
        <h3>Harness your websites untapped potential:</h3>
        <h3  class="price">$550.00 per page <small>(.inc GST)</small></h3>
    </section>
    
       <section class="phone-number">
        <div>
        <h4 class="form-text">Would you like to know more? Call <a class="tel" href="tel:1300923927" title="Call Today" rel="nofollow"><span class="white ">1300&nbsp;923&nbsp;927</span></a> or get in touch by <a href="#email-form" class="email-button">email</a></h4>
        </div>
        
        <div class="top-nav">
            <a class="nav" href="#top"></a>
            
			<a class="back_to_top nav" href="#top">Back to top</a> 
        </div>
        
    </section>
    
     <section class="services" id="search-engine-optimisation">
        <div class="content-box">
        <h2 class="bold_text">Monthly SEO Service </h2>
         
    
        <p><small>We will perform the services listed below on a monthly basis to improve your website as well as provide you with a monthly update on your sites performance.</small></p>
        
        <p class="bold_text score">Your Sites SEO Score: / 40</p>
        </div>
    
         <h3 class="list-heading">Ongoing Targeting and Optimisation</h3>
        <ul>
            <li>A Nook Digital embedded 1300 number with built in phone tracking to verify exactly how many customer calls you received from your web site.</li>
             <li>Continued optimisation of your site as new techniques appear.</li>
            <li>Split A/B testing: Change a feature on the website such as size of the phone number or colour of a button and compare results against previous month to determine effectiveness.</li>
            
            <li>Source backlinks from external sites to increase page authority by indicating to Google relevant sites value your content.</li>

            <li>Analyse Google Analytics for a change in visitor count, bounce rate and any other site issues.</li>

            <li>Provide you with data comparing the most recent months visitor statistics to last months with a summary of any changes.</li>

            <li>Up to 5 content edits to website (to be presented in one request monthly). Please note that changes to written targeted content will need to be vetted to ensure they do not interfere with targeting strategy. Includes resizing and cropping images if required.</li>
            
        </ul>
         <br>
         <h3>Stay Competitive</h3>
         <h3  class="price">$550.00 per month <small>(inc GST)</small></h3>
    </section>
    
       <section class="phone-number">
        <div>
        <h4 class="form-text">Would you like to know more? Call <a class="tel" href="tel:1300923927" title="Call Today" rel="nofollow"><span class="white ">1300&nbsp;923&nbsp;927</span></a> or get in touch by <a href="#email-form" class="email-button">email</a></h4>
        </div>
        
        <div class="top-nav">
            <a class="nav" href="#top"></a>
            
			<a class="back_to_top nav" href="#top">Back to top</a> 
        </div>
        
    </section>
    
     <section class="services" id="website-hosting">
  
        <h2 class="bold_text">Website Hosting</h2>

        <ul>
            <li>Nook Digital Marketing will host your website on a unique IP address with an TLS (not SSL) security certificate for a secure https connection <a href="https://moz.com/blog/enabling-https-without-sacrificing-web-performance">(great for SEO)</a>. The site will also be hosted on a server in your state.</li>
            
            <li>Consolidate all your websites costs and simplify with one easy monthly direct debit payment.</li>
  
        </ul>
         <br>
         <h3>Annual Website Hosting and https connection</h3>
         <h3  class="price">$300.00 annually <small>(inc GST)</small></h3>
         
    </section>
               <section class="phone-number">
        <div>
        <h4 class="form-text">Would you like to know more? Call <a class="tel" href="tel:1300923927" title="Call Today" rel="nofollow"><span class="white ">1300&nbsp;923&nbsp;927</span></a> or get in touch by <a href="#email-form" class="email-button">email</a></h4>
        </div>
        
        <div class="top-nav">
            <a class="nav" href="#top"></a>
            
			<a class="back_to_top nav" href="#top">Back to top</a> 
        </div>
        
    </section>

</main>
    
{% include 'partials/footer/footer.njk' %}

{% endblock %}