{% block panel1 %}
<!--<?php include_once("analyticstracking.php") ?>-->
<main>
    <p>sploooge</p>

    <section>
    
    <header>
        <h2 class="panel_title">Dance Workshops for Teachers and Parents</h2>
    </header>
        
    <!-- PANEL 1 TEXT -->
    <article class="col-sm-7 col-xs-12"> 
        {% include 'partials/body/content/panel1_text.njk' %}
    </article>

    <aside class="col-sm-5 col-xs-12">
        <figure>
             <!-- IMAGE 1 -->
            <img class="in_text_image" src="/assets/images/dance-workshop-perth.jpg" title="We provide professional development for teachers" alt="dance workshops"/>
        </figure>
        
        <section class="panel_ph_logo cfm">
            
            <!-- SMALL LOGO -->
            <div class="logo2">
                {% include 'partials/body/content/small_logo.njk' %}
            </div>
            
            <!-- FACEBOOK POST -->
            <div class="replica-fb-post">
                {% include 'partials/body/content/facebook1.njk' %}  
            </div>
            
            <!--PHONE NUMBER -->
            <div class="ph_logo ph_logo2">
              {% include 'partials/body/content/small_phone_number.njk' %} 
            </div>

        </section>
    </aside>	

    <div class="col-xs-12">
        <span class="scroll">Please scroll down for more...</span>
    </div>
    
</section>
  
</main>

{% endblock %} 







	








